@import "css3-mixins";
@import "flex";

.ajax-status-msg {
    width:100%;
    height:100%;
    position: fixed;
    background: #fff;
    z-index:50;
    top: 0px;
    left: 0px;
    filter: Alpha(Opacity=30);
    opacity: .30;
}
.ajax-status-img {
    width:64px;
    height:64px;
    position:fixed;
    top: 50%;
    left: 50%;
    z-index:51;
    margin-top: -64px;
    margin-right: -64px;
}

.app {
    position: relative;

    & .topo { // barra de topo
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 52px;
        background: #EDEDED;
        border-bottom: 1px solid #D9DEE4;
    }

    & .esquerda { // area do menu
        position: fixed;
        top: 52px;
        width: 230px;
        background: #2A3F54;
        color: #E7E7E7;
    }

    & .tela { // area de exibicao
        padding: 55px 0 0 235px;
    }
}