<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--property name="connection.url">jdbc:mysql://localhost:3306/pi2015</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property-->
        <property name="url">jdbc:mysql://${OPENSHIFT_MYSQL_DB_HOST}:${OPENSHIFT_MYSQL_DB_PORT}/${OPENSHIFT_APP_NAME}</property>
        <property name="username">${OPENSHIFT_MYSQL_DB_USERNAME}</property>
        <property name="password">${OPENSHIFT_MYSQL_DB_PASSWORD}</property>
        <mapping class="br.com.wgbn.sgap.entity.AcaoEntity"/>
        <mapping class="br.com.wgbn.sgap.entity.ClienteEntity"/>
        <mapping class="br.com.wgbn.sgap.entity.TipoacaoEntity"/>
        <mapping class="br.com.wgbn.sgap.entity.UsuarioEntity"/>
        <mapping class="br.com.wgbn.sgap.entity.UsuarioAcaoEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>